/*================================================
Footer Area CSS
=================================================*/
.footer-area {
  background-color: #1a1e27;
  padding-top: 220px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.footer-area.bg-F4F7FC {
  background-color: #F4F7FC;
}

.footer-area.bg-F4F7FC .single-footer-widget p {
  color: var(--paragraph-color);
}

.footer-area.bg-F4F7FC .single-footer-widget .footer-information li {
  color: var(--paragraph-color);
}

.footer-area.bg-F4F7FC .single-footer-widget .footer-information li a {
  color: var(--paragraph-color);
}

.footer-area.bg-F4F7FC .single-footer-widget .footer-information li a:hover {
  color: var(--main-color);
}

.footer-area.bg-F4F7FC .single-footer-widget h3 {
  color: var(--black-color);
}

.footer-area.bg-F4F7FC .single-footer-widget .quick-links li a {
  color: var(--paragraph-color);
}

.footer-area.bg-F4F7FC .single-footer-widget .quick-links li a:hover {
  color: var(--main-color);
  letter-spacing: 1px;
}

.footer-area.bg-F4F7FC .single-footer-widget .widget-newsletter span {
  color: var(--paragraph-color);
}

.footer-area.bg-F4F7FC .single-footer-widget .widget-newsletter .widget-social li span {
  font-size: 18px;
  color: var(--main-color);
}

.footer-area.bg-F4F7FC .single-footer-widget .widget-newsletter .widget-social li a i {
  background-color: #7E8090;
  color: var(--white-color);
}

.footer-area.bg-F4F7FC .single-footer-widget .widget-newsletter .widget-social li a i:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.single-footer-widget {
  margin-bottom: 25px;
}

.single-footer-widget .footer-widget-logo {
  margin-bottom: 25px;
}

.single-footer-widget p {
  margin-bottom: 0;
  color: var(--white-color);
}

.single-footer-widget .footer-information {
  padding: 0;
  margin-bottom: 0;
  margin-top: 25px;
}

.single-footer-widget .footer-information li {
  list-style-type: none;
  color: var(--white-color);
  margin-bottom: 20px;
  position: relative;
  padding-left: 72px;
}

.single-footer-widget .footer-information li:last-child {
  margin-bottom: 0;
}

.single-footer-widget .footer-information li span {
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--main-color);
  position: absolute;
  left: 0;
  top: 0;
}

.single-footer-widget .footer-information li a {
  color: var(--white-color);
  display: block;
  margin-bottom: 5px;
}

.single-footer-widget .footer-information li a:last-child {
  margin-bottom: 0;
}

.single-footer-widget .footer-information li a:hover {
  color: var(--optional-color);
}

.single-footer-widget h3 {
  font-size: 22px;
  margin-bottom: 30px;
  color: var(--white-color);
}

.single-footer-widget .quick-links {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.single-footer-widget .quick-links li {
  margin-bottom: 20px;
  list-style-type: none;
}

.single-footer-widget .quick-links li a {
  display: inline-block;
  color: var(--white-color);
  font-weight: 400;
  font-size: var(--font-size);
}

.single-footer-widget .quick-links li a:hover {
  color: var(--main-color);
  letter-spacing: 1px;
}

.single-footer-widget .quick-links li:last-child {
  margin-bottom: 0;
}

.single-footer-widget .widget-newsletter span {
  color: var(--white-color);
}

.single-footer-widget .widget-newsletter .newsletter-form {
  margin-top: 20px;
  position: relative;
}

.single-footer-widget .widget-newsletter .newsletter-form .input-newsletter {
  display: block;
  width: 100%;
  background-color: var(--white-color);
  border: none;
  height: 70px;
  padding: 15px;
  border-radius: 0;
  outline: 0;
  color: var(--paragraph-color);
}

.single-footer-widget .widget-newsletter .newsletter-form .input-newsletter::-webkit-input-placeholder {
  color: var(--paragraph-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.single-footer-widget .widget-newsletter .newsletter-form .input-newsletter:-ms-input-placeholder {
  color: var(--paragraph-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.single-footer-widget .widget-newsletter .newsletter-form .input-newsletter::-ms-input-placeholder {
  color: var(--paragraph-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.single-footer-widget .widget-newsletter .newsletter-form .input-newsletter::placeholder {
  color: var(--paragraph-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.single-footer-widget .widget-newsletter .newsletter-form .input-newsletter:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.single-footer-widget .widget-newsletter .newsletter-form .input-newsletter:focus:-ms-input-placeholder {
  color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.single-footer-widget .widget-newsletter .newsletter-form .input-newsletter:focus::-ms-input-placeholder {
  color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.single-footer-widget .widget-newsletter .newsletter-form .input-newsletter:focus::placeholder {
  color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.single-footer-widget .widget-newsletter .newsletter-form .default-btn {
  background-color: var(--main-color);
  color: var(--white-color) !important;
  padding: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.single-footer-widget .widget-newsletter .newsletter-form .default-btn::before {
  background-color: var(--optional-color);
}

.single-footer-widget .widget-newsletter .newsletter-form #validator-newsletter {
  color: var(--main-color);
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
}

.single-footer-widget .widget-newsletter .widget-social {
  padding: 0;
  margin-bottom: 0;
  margin-top: 25px;
}

.single-footer-widget .widget-newsletter .widget-social li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

.single-footer-widget .widget-newsletter .widget-social li:last-child {
  margin-right: 0;
}

.single-footer-widget .widget-newsletter .widget-social li span {
  font-size: 18px;
  color: var(--white-color);
}

.single-footer-widget .widget-newsletter .widget-social li a i {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: #70707042;
  color: var(--white-color);
  text-align: center;
  font-size: 20px;
  border-radius: 50px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  position: relative;
  top: 2px;
}

.single-footer-widget .widget-newsletter .widget-social li a i:hover {
  background-color: var(--main-color);
}

.footer-shape-1 {
  position: absolute;
  left: -50px;
  top: -50px;
  z-index: -1;
}

.copyright-area {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #15182D;
}

.copyright-area.bg-1D2023 {
  background-color: #1D2023;
}

.copyright-area.bg-FFFFFF {
  background-color: var(--white-color);
}

.copyright-area.bg-FFFFFF .copyright-area-content p {
  color: var(--paragraph-color);
}

.copyright-area.bg-FFFFFF .copyright-area-content p a {
  color: var(--main-color);
}

.copyright-area.bg-FFFFFF .copyright-area-content p a:hover {
  color: var(--optional-color);
}

.copyright-area .copyright-area-content {
  text-align: center;
}

.copyright-area .copyright-area-content p {
  font-weight: 400;
  color: var(--white-color);
}

.copyright-area .copyright-area-content p a {
  display: inline-block;
  font-weight: 500;
  color: var(--main-color);
}

.copyright-area .copyright-area-content p a:hover {
  color: var(--white-color);
}

@media only screen and (max-width: 767px) {
  .footer-area {
    padding-top: 170px;
  }
  .single-footer-widget.ps-5 {
    padding-left: 0 !important;
  }
  .single-footer-widget .footer-information li {
    font-size: 15px;
  }
  .single-footer-widget .footer-information li span {
    font-size: 15px;
  }
  .single-footer-widget h3 {
    font-size: 20px;
  }
  .single-footer-widget .quick-links li a {
    font-size: 15px;
  }
  .single-footer-widget .widget-newsletter span {
    font-size: 15px;
  }
  .single-footer-widget .widget-newsletter .widget-social li span {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area {
    padding-top: 170px;
  }
  .single-footer-widget.ps-5 {
    padding-left: 0 !important;
  }
  .single-footer-widget .footer-information li {
    font-size: 15px;
  }
  .single-footer-widget .footer-information li span {
    font-size: 15px;
  }
  .single-footer-widget h3 {
    font-size: 20px;
  }
  .single-footer-widget .quick-links li a {
    font-size: 15px;
  }
  .single-footer-widget .widget-newsletter span {
    font-size: 15px;
  }
  .single-footer-widget .widget-newsletter .widget-social li span {
    font-size: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-footer-widget .widget-newsletter .newsletter-form .default-btn {
    padding: 20px 5px;
  }
  .single-footer-widget .widget-newsletter .widget-social li {
    margin-right: 2px;
  }
  .single-footer-widget .widget-newsletter .widget-social li span {
    font-size: 15px;
  }
  .single-footer-widget .widget-newsletter .widget-social li a i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .single-footer-widget .widget-newsletter .widget-social li span {
    font-size: 15px;
  }
  .single-footer-widget .widget-newsletter .widget-social li a i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
  }
}
/*# sourceMappingURL=footer.css.map */