@media only screen and (max-width: 767px) {
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pt-75 {
    padding-top: 50px;
  }
  .pb-75 {
    padding-bottom: 25px;
  }
  p {
    font-size: 15px;
  }
  .default-btn {
    padding: 12px 25px;
    font-size: 15px;
  }
  .section-title {
    margin-bottom: 35px;
  }
  .section-title span {
    font-size: 14px;
  }
  .section-title h2 {
    font-size: 25px;
  }
  .section-title .text-end {
    text-align: start !important;
    margin-top: 25px;
  }
  .main-banner-area {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  .main-banner-area::after {
    display: none;
  }
  .main-banner-content h1 {
    font-size: 25px;
  }
  .main-banner-item {
    margin-top: 30px;
    padding-top: 0;
  }
  .main-banner-item .main-banner-item-content {
    padding: 20px;
    margin-right: 0;
  }
  .main-banner-item .main-banner-item-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .main-banner-item .main-banner-item-content p {
    margin-bottom: 15px;
  }
  .main-banner-item .main-banner-item-image {
    top: 0;
  }
  .thumbs-wrap .owl-thumbs {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 20px;
  }
  .main-banner-shape-1 {
    display: none;
  }
  .main-banner-shape-2 {
    display: none;
  }
  .main-banner-shape-3 {
    display: none;
  }
  .main-banner-shape-4 {
    display: none;
  }
  .main-banner-social-link {
    display: none;
  }
  .main-banner-area-wrap {
    padding-top: 135px;
    padding-bottom: 50px;
  }
  .main-banner-area-wrap .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .main-banner-content-wrap {
    margin-top: 0;
  }
  .main-banner-content-wrap span {
    font-size: 14px;
  }
  .main-banner-content-wrap h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .main-banner-wrap-image {
    margin-top: 30px;
  }
  .main-banner-wrap-image .wrap-image-shape {
    display: none;
  }
  .main-banner-area-with-shape {
    padding-top: 135px;
    padding-bottom: 50px;
    background-image: unset;
    border-bottom: 1px solid #eee;
  }
  .main-banner-area-with-shape .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .main-banner-video-content {
    margin-right: 0;
  }
  .main-banner-video-content span {
    font-size: 14px;
  }
  .main-banner-video-content h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .main-banner-video-content .banner-btn {
    margin-top: 25px;
  }
  .main-banner-video-content .banner-btn .video-btn {
    margin-left: 5px;
    font-size: 14px;
  }
  .main-banner-video-image {
    text-align: center;
    margin-top: 30px;
  }
  .main-banner-video-image::before {
    display: none;
  }
  .main-banner-video-image .image-shape-1 {
    display: none;
  }
  .main-banner-video-image .image-shape-2 {
    display: none;
  }
  .main-banner-video-image .image-shape-3 {
    display: none;
  }
  .main-banner-video-image .image-shape-4 {
    display: none;
  }
  .single-process-card {
    padding: 20px;
  }
  .single-process-card .icon i {
    font-size: 55px;
  }
  .single-process-card h3 {
    font-size: 18px;
  }
  .single-process-box::before {
    display: none;
  }
  .single-process-box .icon i {
    font-size: 55px;
  }
  .single-process-box h3 {
    font-size: 18px;
  }
  .process-shape-2 {
    display: none;
  }
  .process-shape-3 {
    display: none;
  }
  .process-shape-4 {
    display: none;
  }
  .about-area {
    padding-top: 50px;
  }
  .about-area::after {
    display: none;
  }
  .about-image {
    margin-top: 0;
  }
  .about-content {
    padding: 20px;
    margin-left: 0;
  }
  .about-content span {
    font-size: 14px;
  }
  .about-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .single-funfact-card h3 {
    font-size: 25px;
  }
  .single-funfact-card h3 .small-text {
    font-size: 22px;
  }
  .single-funfact-card p {
    font-size: 14px;
  }
  .single-funfact-card.with-right-border::before {
    display: none;
  }
  .about-image-wrap {
    margin-left: 0;
    margin-right: 0;
  }
  .about-image-wrap .since-text {
    display: none;
  }
  .about-content-wrap {
    margin-left: 0;
    margin-top: 30px;
  }
  .about-content-wrap span {
    font-size: 14px;
  }
  .about-content-wrap h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .about-image-with-shape .since-text {
    padding: 20px;
    font-size: 22px;
  }
  .about-image-with-shape .since-text span {
    font-size: 14px;
  }
  .fun-fact-inner-box {
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .fun-fact-inner-box .fun-fact-shape-1 {
    display: none;
  }
  .fun-fact-inner-box .fun-fact-shape-2 {
    display: none;
  }
  .fun-fact-inner-box .single-funfact-card p {
    font-size: 12px;
  }
  .single-services-card {
    padding: 20px;
  }
  .single-services-card .icon i {
    font-size: 65px;
  }
  .single-services-card h3 {
    font-size: 18px;
  }
  .case-studies-area {
    padding-bottom: 50px;
  }
  .case-studies-area::before {
    display: none;
  }
  .case-studies-area::after {
    display: none;
  }
  .single-case-studies-card .case-studies-content {
    padding: 14px 60px 20px 20px;
  }
  .single-case-studies-card .case-studies-content span {
    font-size: 14px;
  }
  .single-case-studies-card .case-studies-content h3 {
    font-size: 18px;
  }
  .single-case-studies-card .case-studies-content .icon a i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
  }
  .case-studies-shape-1 {
    display: none;
  }
  .case-studies-shape-2 {
    display: none;
  }
  .case-studies-shape-3 {
    display: none;
  }
  .case-studies-area-without-color .section-title {
    max-width: 850px;
    margin: 0 auto 35px;
  }
  .video-area {
    padding-top: 50px;
    margin-top: 0;
  }
  .video-view .view-content {
    padding: 20px 15px;
  }
  .video-view .view-content::before {
    top: 38px;
  }
  .video-view .view-content span {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .video-view .view-content h4 {
    font-size: 15px;
  }
  .video-view .view-content .video-btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
  }
  .video-view .view-content .video-btn i {
    top: 4px;
    left: 2px;
  }
  .video-view .view-content .video-btn::before {
    border: 1px solid var(--main-color);
  }
  .view-content-wrap span {
    font-size: 14px;
  }
  .view-content-wrap h3 {
    font-size: 22px;
  }
  .view-content-wrap .video-btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
  }
  .view-content-wrap .video-btn i {
    top: 4px;
    left: 2px;
  }
  .view-content-wrap .video-btn::before {
    border: 1px solid var(--main-color);
  }
  .choose-us-content span {
    font-size: 14px;
  }
  .choose-us-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .choose-us-inner-box {
    margin-top: 25px;
  }
  .choose-us-inner-box .choose-us-list {
    margin-top: 25px;
  }
  .choose-us-box {
    margin-left: 0;
    margin-top: 30px;
  }
  .choose-us-box .single-choose-us-card {
    padding: 20px 10px;
  }
  .choose-us-box .single-choose-us-card .icon i {
    font-size: 45px;
  }
  .choose-us-box .single-choose-us-card .number {
    height: 65px;
    width: 65px;
    line-height: 65px;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .choose-us-box .single-choose-us-card h3 {
    font-size: var(--font-size);
  }
  .testimonials-shape-1 {
    display: none;
  }
  .testimonials-shape-2 {
    display: none;
  }
  .single-testimonials-card {
    padding: 35px 25px 25px;
  }
  .single-testimonials-card .info {
    padding-left: 78px;
  }
  .single-testimonials-card .info .icon i {
    height: 65px;
    width: 65px;
    line-height: 75px;
    font-size: 30px;
  }
  .single-testimonials-card .info .image img {
    height: 65px;
    width: 65px;
  }
  .single-testimonials-card .info h3 {
    font-size: var(--font-size);
  }
  .single-testimonials-card .info span {
    font-size: 12px;
  }
  .single-testimonials-card p {
    margin-top: 28px;
  }
  .single-testimonials-box p {
    font-size: 15px;
  }
  .single-testimonials-box .info h3 {
    font-size: 18px;
  }
  .single-testimonials-box .info span {
    font-size: 14px;
  }
  .testimonials-shape-3 {
    display: none;
  }
  .partner-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .partner-image-box {
    margin-left: 0;
  }
  .partner-image-box .single-partner-card {
    margin-top: 25px;
  }
  .partner-image-box .row .col-lg-3:nth-child(1) .single-partner-card {
    margin-bottom: 0;
  }
  .partner-image-box .row .col-lg-3:nth-child(2) .single-partner-card {
    margin-bottom: 0;
  }
  .partner-image-box .row .col-lg-3:nth-child(3) .single-partner-card {
    margin-bottom: 0;
  }
  .partner-image-box .row .col-lg-3:nth-child(4) .single-partner-card {
    margin-bottom: 0;
  }
  .single-team-card .team-content {
    padding: 14px 60px 20px 20px;
  }
  .single-team-card .team-content span {
    font-size: 14px;
  }
  .single-team-card .team-content h3 {
    font-size: 18px;
  }
  .single-team-card .team-content .social-btn span {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
  }
  .single-team-card .team-content .social-btn ul li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
  }
  .talk-image {
    margin-top: 0;
  }
  .talk-image::before {
    display: none;
  }
  .talk-image .talk-information {
    top: 0;
    left: 0;
    position: relative;
    background-color: var(--black-color);
    padding: 30px 25px;
  }
  .talk-image .talk-information .content {
    margin-bottom: 20px;
  }
  .talk-image .talk-information .content h3 {
    font-size: 22px;
  }
  .talk-image .talk-information .list li {
    padding-left: 0;
    font-size: 14px;
  }
  .talk-image .talk-information .list li span {
    font-size: 15px;
    position: relative;
    display: block;
    margin-bottom: 15px;
  }
  .talk-form {
    padding: 35px 20px;
    margin-left: 0;
  }
  .talk-form form .form-group .form-control {
    height: 50px;
  }
  .talk-area-with-bg-image {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .talk-information-wrap {
    padding: 30px;
  }
  .talk-information-wrap .content {
    margin-bottom: 20px;
  }
  .talk-information-wrap .content h3 {
    font-size: 22px;
  }
  .talk-information-wrap .list li {
    padding-left: 0;
    font-size: 14px;
  }
  .talk-information-wrap .list li span {
    font-size: 15px;
    position: relative;
    display: block;
    margin-bottom: 15px;
  }
  .talk-form-wrap {
    margin-left: 0;
    margin-top: 30px;
  }
  .talk-form-wrap form .row .col-lg-6 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .talk-form-wrap form .row .col-lg-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .talk-form-wrap form .form-group .form-control {
    height: 50px;
  }
  .blog-area::before {
    display: none;
  }
  .single-blog-card .blog-content {
    padding: 15px;
  }
  .single-blog-card .blog-content span {
    font-size: 14px;
  }
  .single-blog-card .blog-content h3 {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .blog-shape-1 {
    display: none;
  }
  .overview-inner-box {
    padding: 30px;
  }
  .overview-inner-box .overview-content span {
    font-size: 14px;
  }
  .overview-inner-box .overview-content h3 {
    font-size: 22px;
  }
  .overview-inner-box .text-end {
    text-align: left !important;
    margin-top: 25px;
  }
  .overview-inner-box .overview-shape-1 {
    display: none;
  }
  .portfolio-area .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .single-portfolio-card .portfolio-content h3 {
    font-size: var(--font-size);
  }
  .pricing-area {
    overflow: hidden;
  }
  .single-pricing-table {
    padding: 25px;
  }
  .single-pricing-table .price {
    font-size: 30px;
  }
  .single-pricing-table .price span {
    font-size: 14px;
  }
  .single-pricing-table .features-list li {
    font-size: 14px;
  }
  .faq-accordion .faq-content span {
    font-size: 14px;
  }
  .faq-accordion .faq-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .faq-image {
    margin-top: 30px;
    text-align: center;
  }
  .faq-shape-1 {
    display: none;
  }
  .page-banner-area {
    padding-top: 130px;
    padding-bottom: 70px;
    background-image: unset;
    background-color: #F4F7FC;
  }
  .page-banner-content h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .page-banner-content ul {
    text-align: start;
  }
  .page-banner-content ul li {
    color: var(--paragraph-color);
  }
  .page-banner-content ul li a {
    color: var(--paragraph-color);
  }
  .page-banner-content ul li::before {
    background-color: var(--main-color);
  }
  .page-banner-shape-1 {
    display: none;
  }
  .page-banner-shape-2 {
    display: none;
  }
  .project-analysis-content span {
    font-size: 14px;
  }
  .project-analysis-content h3 {
    font-size: 22px;
  }
  .project-analysis-text {
    margin-top: 20px;
  }
  .project-story-image {
    margin-top: 0;
    text-align: center;
  }
  .project-story-content {
    padding: 25px;
    margin-left: 0;
  }
  .project-story-content span {
    font-size: 14px;
  }
  .project-story-content h3 {
    font-size: 22px;
  }
  .project-challenge-content span {
    font-size: 14px;
  }
  .project-challenge-content h3 {
    font-size: 22px;
  }
  .project-challenge-image {
    text-align: center;
    margin-top: 30px;
  }
  .project-solution-image {
    text-align: center;
    margin-bottom: 30px;
  }
  .project-solution-content {
    margin-left: 0;
  }
  .project-solution-content span {
    font-size: 14px;
  }
  .project-solution-content h3 {
    font-size: 22px;
  }
  .project-result-content span {
    font-size: 14px;
  }
  .project-result-content h3 {
    font-size: 22px;
  }
  .project-result-text {
    margin-top: 20px;
  }
  .services-seo-content span {
    font-size: 14px;
  }
  .services-seo-content h3 {
    font-size: 22px;
  }
  .services-seo-text {
    margin-top: 20px;
  }
  .services-overview-image {
    text-align: center;
  }
  .services-overview-content {
    padding: 25px;
    margin-left: 0;
  }
  .services-overview-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .portfolio-details-image {
    margin-bottom: 30px;
  }
  .portfolio-details-desc h3 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .portfolio-details-desc .features-text h4 {
    font-size: var(--font-size);
  }
  .portfolio-details-desc h4 {
    font-size: 22px;
  }
  .portfolio-details-information {
    padding: 30px 25px;
    margin-top: 30px;
  }
  .portfolio-details-information ul li {
    font-size: 14px;
  }
  .portfolio-details-information ul li span {
    font-size: var(--font-size);
  }
  .portfolio-details-information ul li a {
    font-size: 14px;
  }
  .login-form {
    padding: 25px;
  }
  .login-form h2 {
    font-size: 22px;
  }
  .login-form form .lost-your-password-wrap {
    text-align: left;
    margin-top: 10px;
  }
  .register-form {
    padding: 25px;
  }
  .register-form h2 {
    font-size: 22px;
  }
  .terms-of-service-content h3 {
    font-size: 20px;
  }
  .terms-of-service-content ul li {
    font-size: 15px;
  }
  .privacy-policy-content h3 {
    font-size: 20px;
  }
  .privacy-policy-content ul li {
    font-size: 15px;
  }
  .error-content h3 {
    font-size: 22px;
  }
  .coming-soon-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .coming-soon-content {
    padding: 30px 25px;
  }
  .coming-soon-content #timer {
    margin-top: 20px;
  }
  .coming-soon-content #timer div {
    width: 100px;
    height: 105px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    margin-top: 10px;
  }
  .coming-soon-content h2 {
    font-size: 22px;
  }
  .blog-details-desc .article-content span {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .blog-details-desc .article-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .blog-details-desc .article-content .blog-desc-quote b {
    font-size: 15px;
  }
  .blog-details-desc .article-tags {
    text-align: center;
  }
  .blog-details-desc .article-tags ul li {
    font-size: 14px;
  }
  .blog-details-desc .article-tags ul li span {
    font-size: 15px;
  }
  .blog-details-desc .article-share {
    text-align: center;
  }
  .blog-details-desc .article-share ul li {
    font-size: 14px;
  }
  .blog-details-desc .article-share ul li span {
    font-size: 15px;
  }
  .blog-details-desc .article-comments h3 {
    font-size: 22px;
  }
  .blog-details-desc .article-comments .comments-list {
    padding-left: 0;
  }
  .blog-details-desc .article-comments .comments-list img {
    position: relative;
    margin-bottom: 20px;
  }
  .blog-details-desc .article-leave-comment h3 {
    font-size: 22px;
  }
  .blog-details-desc .article-leave-comment form .form-group .form-control {
    font-size: 14px;
  }
  .widget-area {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .login-form form .lost-your-password-wrap {
    text-align: right;
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pt-75 {
    padding-top: 50px;
  }
  .pb-75 {
    padding-bottom: 25px;
  }
  p {
    font-size: 15px;
  }
  .default-btn {
    padding: 12px 25px;
    font-size: 15px;
  }
  .section-title {
    margin-bottom: 35px;
  }
  .section-title span {
    font-size: 14px;
  }
  .section-title h2 {
    font-size: 25px;
  }
  .section-title .text-end {
    text-align: start !important;
    margin-top: 25px;
  }
  .main-banner-area {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  .main-banner-area::after {
    display: none;
  }
  .main-banner-content h1 {
    font-size: 25px;
  }
  .main-banner-item {
    margin-top: 30px;
    padding-top: 0;
  }
  .main-banner-item .main-banner-item-content {
    padding: 30px;
    margin-right: 0;
  }
  .main-banner-item .main-banner-item-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .main-banner-item .main-banner-item-content p {
    margin-bottom: 15px;
  }
  .main-banner-item .main-banner-item-image {
    top: 0;
  }
  .thumbs-wrap .owl-thumbs {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 20px;
  }
  .main-banner-shape-1 {
    display: none;
  }
  .main-banner-shape-2 {
    display: none;
  }
  .main-banner-shape-3 {
    display: none;
  }
  .main-banner-shape-4 {
    display: none;
  }
  .main-banner-social-link {
    display: none;
  }
  .main-banner-area-wrap {
    padding-top: 135px;
    padding-bottom: 50px;
  }
  .main-banner-area-wrap .container-fluid {
    max-width: 720px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .main-banner-content-wrap {
    margin-top: 0;
  }
  .main-banner-content-wrap span {
    font-size: 14px;
  }
  .main-banner-content-wrap h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .main-banner-wrap-image {
    margin-top: 30px;
  }
  .main-banner-wrap-image .wrap-image-shape {
    display: none;
  }
  .main-banner-area-with-shape {
    padding-top: 135px;
    padding-bottom: 50px;
    background-image: unset;
    border-bottom: 1px solid #eee;
  }
  .main-banner-area-with-shape .container-fluid {
    max-width: 720px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .main-banner-video-content {
    margin-right: 0;
  }
  .main-banner-video-content span {
    font-size: 14px;
  }
  .main-banner-video-content h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .main-banner-video-content .banner-btn {
    margin-top: 25px;
  }
  .main-banner-video-image {
    text-align: center;
    margin-top: 30px;
  }
  .main-banner-video-image::before {
    display: none;
  }
  .main-banner-video-image .image-shape-1 {
    display: none;
  }
  .main-banner-video-image .image-shape-2 {
    display: none;
  }
  .main-banner-video-image .image-shape-3 {
    display: none;
  }
  .main-banner-video-image .image-shape-4 {
    display: none;
  }
  .single-process-card .icon i {
    font-size: 55px;
  }
  .single-process-card h3 {
    font-size: 18px;
  }
  .single-process-box::before {
    display: none;
  }
  .single-process-box .icon i {
    font-size: 55px;
  }
  .single-process-box h3 {
    font-size: 18px;
  }
  .process-shape-2 {
    display: none;
  }
  .process-shape-3 {
    display: none;
  }
  .process-shape-4 {
    display: none;
  }
  .about-area {
    padding-top: 50px;
  }
  .about-area::after {
    display: none;
  }
  .about-image {
    margin-top: 0;
  }
  .about-content {
    margin-left: 0;
  }
  .about-content span {
    font-size: 14px;
  }
  .about-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .single-funfact-card h3 {
    font-size: 25px;
  }
  .single-funfact-card h3 .small-text {
    font-size: 22px;
  }
  .single-funfact-card p {
    font-size: 14px;
  }
  .single-funfact-card.with-right-border::before {
    display: none;
  }
  .about-image-wrap::before {
    width: 695px;
  }
  .about-content-wrap {
    margin-left: 0;
    margin-top: 30px;
  }
  .about-content-wrap span {
    font-size: 14px;
  }
  .about-content-wrap h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .about-image-with-shape .since-text {
    font-size: 22px;
    left: 20px;
  }
  .about-image-with-shape .since-text span {
    font-size: 14px;
  }
  .single-services-card .icon i {
    font-size: 65px;
  }
  .single-services-card h3 {
    font-size: 18px;
  }
  .case-studies-area {
    padding-bottom: 50px;
  }
  .case-studies-area::before {
    display: none;
  }
  .case-studies-area::after {
    display: none;
  }
  .single-case-studies-card .case-studies-content {
    padding: 14px 60px 20px 20px;
  }
  .single-case-studies-card .case-studies-content span {
    font-size: 14px;
  }
  .single-case-studies-card .case-studies-content h3 {
    font-size: 18px;
  }
  .single-case-studies-card .case-studies-content .icon a i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
  }
  .case-studies-shape-1 {
    display: none;
  }
  .case-studies-shape-2 {
    display: none;
  }
  .case-studies-shape-3 {
    display: none;
  }
  .video-area {
    padding-top: 50px;
    margin-top: 0;
  }
  .video-view .view-content {
    padding: 20px 15px;
  }
  .video-view .view-content::before {
    top: 38px;
  }
  .video-view .view-content span {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .video-view .view-content h4 {
    font-size: 15px;
  }
  .video-view .view-content .video-btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
  }
  .video-view .view-content .video-btn i {
    top: 4px;
    left: 2px;
  }
  .video-view .view-content .video-btn::before {
    border: 1px solid var(--main-color);
  }
  .view-content-wrap span {
    font-size: 14px;
  }
  .view-content-wrap h3 {
    font-size: 22px;
  }
  .view-content-wrap .video-btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
  }
  .view-content-wrap .video-btn i {
    top: 4px;
    left: 2px;
  }
  .view-content-wrap .video-btn::before {
    border: 1px solid var(--main-color);
  }
  .choose-us-content span {
    font-size: 14px;
  }
  .choose-us-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .choose-us-inner-box {
    margin-top: 25px;
  }
  .choose-us-inner-box .choose-us-list {
    margin-top: 25px;
  }
  .choose-us-box {
    margin-left: 0;
    margin-top: 30px;
  }
  .choose-us-box .single-choose-us-card {
    padding: 20px 10px;
  }
  .choose-us-box .single-choose-us-card .icon i {
    font-size: 45px;
  }
  .choose-us-box .single-choose-us-card h3 {
    font-size: var(--font-size);
  }
  .testimonials-shape-1 {
    display: none;
  }
  .testimonials-shape-2 {
    display: none;
  }
  .single-testimonials-card {
    padding: 35px 25px 25px;
  }
  .single-testimonials-card .info {
    padding-left: 78px;
  }
  .single-testimonials-card .info .icon i {
    height: 65px;
    width: 65px;
    line-height: 75px;
    font-size: 30px;
  }
  .single-testimonials-card .info .image img {
    height: 65px;
    width: 65px;
  }
  .single-testimonials-card .info h3 {
    font-size: var(--font-size);
  }
  .single-testimonials-card .info span {
    font-size: 12px;
  }
  .single-testimonials-card p {
    margin-top: 28px;
  }
  .single-testimonials-box p {
    font-size: 15px;
  }
  .single-testimonials-box .info h3 {
    font-size: 18px;
  }
  .single-testimonials-box .info span {
    font-size: 14px;
  }
  .testimonials-shape-3 {
    display: none;
  }
  .partner-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .partner-image-box {
    margin-left: 0;
  }
  .partner-image-box .single-partner-card {
    margin-top: 25px;
  }
  .partner-image-box .row .col-lg-3:nth-child(1) .single-partner-card {
    margin-bottom: 0;
  }
  .partner-image-box .row .col-lg-3:nth-child(2) .single-partner-card {
    margin-bottom: 0;
  }
  .partner-image-box .row .col-lg-3:nth-child(3) .single-partner-card {
    margin-bottom: 0;
  }
  .partner-image-box .row .col-lg-3:nth-child(4) .single-partner-card {
    margin-bottom: 0;
  }
  .single-team-card .team-content {
    padding: 14px 60px 20px 20px;
  }
  .single-team-card .team-content span {
    font-size: 14px;
  }
  .single-team-card .team-content h3 {
    font-size: 18px;
  }
  .single-team-card .team-content .social-btn span {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
  }
  .single-team-card .team-content .social-btn ul li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
  }
  .talk-image {
    margin-top: 0;
  }
  .talk-image::before {
    display: none;
  }
  .talk-image .talk-information {
    top: 0;
    left: 0;
    position: relative;
    background-color: var(--black-color);
    padding: 30px 25px;
  }
  .talk-image .talk-information .content {
    margin-bottom: 20px;
  }
  .talk-image .talk-information .content h3 {
    font-size: 22px;
  }
  .talk-image .talk-information .list li {
    padding-left: 0;
    font-size: 14px;
  }
  .talk-image .talk-information .list li span {
    font-size: 15px;
    position: relative;
    display: block;
    margin-bottom: 15px;
  }
  .talk-form {
    padding: 35px 20px;
    margin-left: 0;
  }
  .talk-area-with-bg-image {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .talk-information-wrap {
    padding: 30px;
  }
  .talk-information-wrap .content {
    margin-bottom: 20px;
  }
  .talk-information-wrap .content h3 {
    font-size: 22px;
  }
  .talk-information-wrap .list li {
    padding-left: 0;
    font-size: 14px;
  }
  .talk-information-wrap .list li span {
    font-size: 15px;
    position: relative;
    display: block;
    margin-bottom: 15px;
  }
  .talk-form-wrap {
    margin-left: 0;
  }
  .talk-form-wrap form .row .col-lg-6 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .talk-form-wrap form .row .col-lg-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .blog-area::before {
    display: none;
  }
  .single-blog-card .blog-content {
    padding: 15px;
  }
  .single-blog-card .blog-content span {
    font-size: 14px;
  }
  .single-blog-card .blog-content h3 {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .blog-shape-1 {
    display: none;
  }
  .overview-inner-box {
    padding: 30px;
  }
  .overview-inner-box .overview-content span {
    font-size: 14px;
  }
  .overview-inner-box .overview-content h3 {
    font-size: 22px;
  }
  .overview-inner-box .overview-shape-1 {
    display: none;
  }
  .portfolio-area .container-fluid {
    max-width: 720px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .single-portfolio-card .portfolio-content h3 {
    font-size: var(--font-size);
  }
  .single-pricing-table {
    padding: 25px;
  }
  .single-pricing-table .price {
    font-size: 30px;
  }
  .single-pricing-table .price span {
    font-size: 14px;
  }
  .single-pricing-table .features-list li {
    font-size: 14px;
  }
  .faq-accordion .faq-content span {
    font-size: 14px;
  }
  .faq-accordion .faq-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .faq-image {
    margin-top: 30px;
    text-align: center;
  }
  .faq-shape-1 {
    display: none;
  }
  .page-banner-area {
    padding-top: 130px;
    padding-bottom: 70px;
    background-image: unset;
    background-color: #F4F7FC;
  }
  .page-banner-content h2 {
    font-size: 35px;
    margin-bottom: 0;
  }
  .page-banner-content ul li {
    color: var(--paragraph-color);
  }
  .page-banner-content ul li a {
    color: var(--paragraph-color);
  }
  .page-banner-content ul li::before {
    background-color: var(--main-color);
  }
  .page-banner-shape-1 {
    display: none;
  }
  .page-banner-shape-2 {
    display: none;
  }
  .project-analysis-content span {
    font-size: 14px;
  }
  .project-analysis-content h3 {
    font-size: 22px;
  }
  .project-story-image {
    margin-top: 0;
    text-align: center;
  }
  .project-story-content {
    padding: 25px;
    margin-left: 0;
  }
  .project-story-content span {
    font-size: 14px;
  }
  .project-story-content h3 {
    font-size: 22px;
  }
  .project-challenge-content span {
    font-size: 14px;
  }
  .project-challenge-content h3 {
    font-size: 22px;
  }
  .project-challenge-image {
    text-align: center;
    margin-top: 30px;
  }
  .project-solution-image {
    text-align: center;
    margin-bottom: 30px;
  }
  .project-solution-content {
    margin-left: 0;
  }
  .project-solution-content span {
    font-size: 14px;
  }
  .project-solution-content h3 {
    font-size: 22px;
  }
  .project-result-content span {
    font-size: 14px;
  }
  .project-result-content h3 {
    font-size: 22px;
  }
  .services-seo-content span {
    font-size: 14px;
  }
  .services-seo-content h3 {
    font-size: 22px;
  }
  .services-overview-image {
    text-align: center;
  }
  .services-overview-content {
    padding: 25px;
    margin-left: 0;
  }
  .services-overview-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .portfolio-details-image {
    margin-bottom: 30px;
  }
  .portfolio-details-desc h3 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .portfolio-details-desc .features-text h4 {
    font-size: var(--font-size);
  }
  .portfolio-details-desc h4 {
    font-size: 22px;
  }
  .portfolio-details-information {
    margin-top: 30px;
  }
  .login-form {
    padding: 25px;
  }
  .login-form h2 {
    font-size: 22px;
  }
  .login-form form .lost-your-password-wrap {
    text-align: left;
    margin-top: 10px;
  }
  .register-form {
    padding: 25px;
  }
  .register-form h2 {
    font-size: 22px;
  }
  .error-content h3 {
    font-size: 22px;
  }
  .blog-details-desc .article-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .blog-details-desc .article-comments h3 {
    font-size: 22px;
  }
  .blog-details-desc .article-leave-comment h3 {
    font-size: 22px;
  }
  .widget-area {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title h2 {
    font-size: 30px;
  }
  .main-banner-area {
    padding-top: 160px;
  }
  .main-banner-content h1 {
    font-size: 62px;
  }
  .main-banner-item {
    margin-top: 45px;
  }
  .main-banner-item .main-banner-item-content {
    padding: 25px;
  }
  .main-banner-item .main-banner-item-content h2 {
    font-size: 30px;
  }
  .main-banner-social-link {
    left: -18px;
  }
  .thumbs-wrap .owl-thumbs {
    bottom: 440px;
    left: 115px;
  }
  .main-banner-content-wrap h1 {
    font-size: 50px;
  }
  .main-banner-content-wrap p {
    font-size: 15px;
  }
  .main-banner-wrap-image .wrap-image-shape {
    bottom: -130px;
  }
  .main-banner-area-with-shape {
    padding-top: 170px;
  }
  .main-banner-video-content h1 {
    font-size: 60px;
    margin-bottom: 15px;
  }
  .single-process-box::before {
    display: none;
  }
  .about-content h3 {
    font-size: 30px;
  }
  .single-funfact-card.with-right-border::before {
    display: none;
  }
  .single-funfact-card h3 {
    font-size: 40px;
  }
  .single-funfact-card h3 .small-text {
    font-size: 40px;
  }
  .about-image-wrap::before {
    width: 455px;
  }
  .about-content-wrap h3 {
    font-size: 30px;
  }
  .services-shape-2 {
    bottom: -140px;
  }
  .case-studies-area::before {
    display: none;
  }
  .case-studies-area::after {
    display: none;
  }
  .choose-us-content h3 {
    font-size: 30px;
  }
  .choose-us-box .single-choose-us-card {
    padding: 25px 15px;
  }
  .choose-us-box .single-choose-us-card .icon i {
    font-size: 75px;
  }
  .choose-us-box .single-choose-us-card h3 {
    font-size: var(--font-size);
  }
  .testimonials-shape-1 {
    left: -65px;
    top: -100px;
  }
  .single-testimonials-card {
    padding: 35px 25px 25px;
  }
  .single-testimonials-card .info {
    padding-left: 78px;
  }
  .single-testimonials-card .info .icon i {
    height: 65px;
    width: 65px;
    line-height: 75px;
    font-size: 30px;
  }
  .single-testimonials-card .info .image img {
    height: 65px;
    width: 65px;
  }
  .single-testimonials-card .info h3 {
    font-size: var(--font-size);
  }
  .single-testimonials-card .info span {
    font-size: 12px;
  }
  .single-testimonials-card p {
    margin-top: 28px;
  }
  .partner-area::before {
    width: 100%;
  }
  .partner-content h3 {
    font-size: 30px;
  }
  .partner-content p {
    font-size: 15px;
  }
  .talk-area {
    padding-bottom: 100px;
  }
  .talk-image {
    margin-top: 20px;
  }
  .talk-image .talk-information {
    top: 25px;
    left: 25px;
  }
  .talk-image .talk-information .content h3 {
    font-size: 28px;
  }
  .talk-form {
    padding: 50px;
    margin-left: -130px;
  }
  .portfolio-area .container-fluid {
    max-width: 960px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .single-pricing-table {
    padding: 25px;
  }
  .single-pricing-table .price {
    font-size: 30px;
  }
  .single-pricing-table .price span {
    font-size: 14px;
  }
  .single-pricing-table .features-list li {
    font-size: 14px;
  }
  .view-content-wrap h3 {
    font-size: 30px;
  }
  .page-banner-content h2 {
    font-size: 45px;
    margin-bottom: 0;
  }
  .project-analysis-content h3 {
    font-size: 30px;
  }
  .project-story-image {
    margin-top: 0;
    text-align: center;
  }
  .project-story-content h3 {
    font-size: 30px;
  }
  .project-challenge-content h3 {
    font-size: 30px;
  }
  .project-solution-content h3 {
    font-size: 30px;
  }
  .project-result-content h3 {
    font-size: 30px;
  }
  .services-seo-content h3 {
    font-size: 30px;
  }
  .services-overview-image {
    text-align: center;
  }
  .services-overview-content h3 {
    font-size: 30px;
  }
  .error-content h3 {
    font-size: 30px;
  }
  .blog-details-desc .article-content h3 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .section-title h2 {
    font-size: 30px;
  }
  .main-banner-area {
    padding-top: 160px;
  }
  .main-banner-content h1 {
    font-size: 62px;
  }
  .main-banner-item {
    margin-top: 45px;
  }
  .main-banner-item .main-banner-item-content {
    padding: 25px;
  }
  .main-banner-item .main-banner-item-content h2 {
    font-size: 30px;
  }
  .main-banner-social-link {
    left: -18px;
  }
  .thumbs-wrap .owl-thumbs {
    bottom: 440px;
    left: 115px;
  }
  .about-content h3 {
    font-size: 30px;
  }
  .about-image-wrap::before {
    width: 545px;
  }
  .about-content-wrap h3 {
    font-size: 30px;
  }
  .case-studies-area::before {
    display: none;
  }
  .case-studies-area::after {
    display: none;
  }
  .choose-us-content h3 {
    font-size: 30px;
  }
  .choose-us-box .single-choose-us-card {
    padding: 25px 15px;
  }
  .choose-us-box .single-choose-us-card .icon i {
    font-size: 75px;
  }
  .choose-us-box .single-choose-us-card h3 {
    font-size: var(--font-size);
  }
  .testimonials-shape-1 {
    left: -65px;
    top: -100px;
  }
  .partner-area::before {
    width: 100%;
  }
  .partner-content h3 {
    font-size: 30px;
  }
  .partner-content p {
    font-size: 15px;
  }
  .talk-area {
    padding-bottom: 100px;
  }
  .talk-image {
    margin-top: 50px;
  }
  .talk-image .talk-information .content h3 {
    font-size: 28px;
  }
  .talk-form {
    padding: 50px;
    margin-left: -130px;
  }
  .single-process-box::before {
    display: none;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1449px) {
  .main-banner-social-link {
    left: -18px;
  }
}

@media only screen and (min-width: 1550px) {
  .case-studies-area::before {
    height: 100%;
    width: 150px;
  }
  .case-studies-area::after {
    height: 100%;
    width: 150px;
  }
  .partner-area::before {
    width: 1050px;
  }
  .main-banner-area-wrap .container-fluid {
    padding-left: 120px;
    padding-right: 120px;
  }
  .main-banner-wrap-image .wrap-image-shape {
    bottom: -135px;
  }
  .main-banner-area-with-shape .container-fluid {
    padding-left: 120px;
    padding-right: 120px;
  }
}
/*# sourceMappingURL=responsive.css.map */